# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment (virtualenv)
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
pytest_cache/

# Docker
*.log
docker-compose.override.yml
*.env
docker-compose*.yml
# Ignore local docker images/tags if you keep locally
# (Usually images are not saved in repo, so ignore none here)


gcloud-service-key.json